* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
}

main {
  background-color: #e0e8ff;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

main .bg__pattern {
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 70vh;
  position: absolute;
  top: -10rem;
  -webkit-animation: bg-anim 1s ease-in-out;
          animation: bg-anim 1s ease-in-out;
}

main .challenge__template {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

main .card {
  margin: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 15px;
  max-width: 400px;
  background-color: white;
  -webkit-filter: drop-shadow(0.75em 0.75em 0.75em #7280a7);
          filter: drop-shadow(0.75em 0.75em 0.75em #7280a7);
  -webkit-animation: card-anim 1s ease-in-out;
          animation: card-anim 1s ease-in-out;
}

main .card__hero {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

main .card .content {
  text-align: center;
  padding: 2.5rem 2.5rem 1rem 2.5rem;
}

main .card .content .card__header {
  font-size: 1.5em;
  font-weight: 900;
}

main .card .content .card__description {
  font-size: 0.85em;
  margin-top: 1em;
  opacity: .5;
  line-height: 1.5;
}

main .card .content .card__plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1rem;
  background-color: #f5f7ff;
  width: 100%;
  margin: 1.5rem 0;
}

main .card .content .card__plan__name {
  margin-left: 1rem;
  font-weight: 700;
  font-size: .9em;
}

main .card .content .card__plan__name span {
  opacity: .5;
  font-size: 1em;
}

main .card .content .card__plan__change {
  color: #3829e0;
  font-weight: 700;
  margin-left: auto;
  font-size: 0.9em;
  -webkit-transition: .1s linear;
  transition: .1s linear;
}

main .card .content .card__plan__change:hover {
  text-decoration: none;
  opacity: .7;
}

main .card .content .card__button {
  display: -ms-grid;
  display: grid;
}

main .card .content .card__button--btn {
  text-decoration: none;
  padding: 1em 2em;
  font-size: .85em;
  font-weight: 500;
  width: 100%;
}

main .card .content .card__button__proceed {
  color: white;
  margin-top: .5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  border-radius: 10px;
  background-color: #3829e0;
  -webkit-transition: .1s linear;
  transition: .1s linear;
  -webkit-filter: drop-shadow(0.15em 0.25em 0.5em #3829e0);
          filter: drop-shadow(0.15em 0.25em 0.5em #3829e0);
}

main .card .content .card__button__proceed:hover {
  opacity: .7;
}

main .card .content .card__button__cancel {
  color: black;
  opacity: .5;
  -webkit-transition: .1s linear;
  transition: .1s linear;
  margin-bottom: 1.5rem;
  font-weight: 900;
}

main .card .content .card__button__cancel:hover {
  opacity: 1;
}

@-webkit-keyframes bg-anim {
  from {
    top: -20rem;
    opacity: .5;
  }
  to {
    top: -10rem;
    opacity: 1;
  }
}

@keyframes bg-anim {
  from {
    top: -20rem;
    opacity: .5;
  }
  to {
    top: -10rem;
    opacity: 1;
  }
}

@-webkit-keyframes card-anim {
  from {
    top: 65%;
    opacity: .5;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

@keyframes card-anim {
  from {
    top: 65%;
    opacity: .5;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

@media screen and (max-width: 375px) {
  .card {
    width: 330px;
  }
}
/*# sourceMappingURL=main.css.map */